POSTGRES_PASSWORD=payment
POSTGRES_USER=payment
POSTGRES_DB=payment
POSTGRES_NAME=payment
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DRIVER=postgresql+asyncpg

APP_LOG_LEVEL=INFO
APP_X_API_KEY=secret
APP_DEBUG=false

RABBITMQ_DEFAULT_USER=payment
RABBITMQ_DEFAULT_PASS=payment
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
